<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings >
    <add name="myConnectionString" connectionString="Data Source=.\SQLEXPRESS; User Instance=true; AttachDbFilename=C:\Users\Gaurav\Desktop\CricVision\App_Data\CricVisionDB.mdf; Integrated Security=SSPI"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
